name: SBOM-TM Demo Scan

on:
  pull_request:
  push:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # IMPORTANT FIX

      - name: Run SBOM-TM (GHCR Container)
        uses: h-strangeone/SBOM-TM@v0.4.1
        with:
          mode: auto
          project: demo
